################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LPManagement.Database/obj/Debug
/LPManagement.Database/bin/Debug
