
@{
    ViewBag.Title = "Home";
}

<h2></h2>

<section>
    <button class="btn btn-primary" name="btnDashboard" onclick="location.href='@Url.Action("Dashboard", "LPManagement")'">Dashboard</button>
    <button class="btn btn-success" name="btnUploadFile" onclick="location.href='@Url.Action("UploadFile", "LPManagement")'">Upload File</button>
</section>
